.wrapper {
    max-width: 95%;
    max-height: 95%;
    padding-top: 50px;
    background: rgb(130, 187, 225);
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }